# Python cache
**/__pycache__/
*.pyc

# Terraform local stuff
**/.terraform/
**/.terraform.lock.hcl
**/tfplan
**/tfplan.json

# Reports (don’t commit every run)
reports/*

# SARIF / scan artifacts if generated outside iac folder
results.sarif

# OS/editor
.DS_Store
*.swp
*.tmp
